/*
background color : #f1f1f1
36px -> material ui buttonHeight
*/
body {
  background-color: #f1f1f1;
}
#header {
  margin-bottom: 20px;
}
#main {
  display: grid;
  max-width: 95%;
  margin: 0 auto;
  grid-template-columns: [start] 112px 10px auto [end];
}
.sidebar {
  grid-column: start / 2;
}
.mainbar {
  grid-column: 3 / 4;
}
.main-body {
  display: grid;
  grid-template-rows: [start-row] 0 48px 10px 0fr 5px 36px auto [end-row];
}
.btn-add {
  align-self: flex-end;
}
.search-field {
  align-self: flex-end;
}
.control-panel {
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-between;
}
.list-data {
  grid-row: 4 / 5;
}
.list-data li {
  margin-bottom: 5px;
}
.nav-pages {
  grid-row: 6 / 7;
}
