/*
list border color : rgba(0, 0, 0, 0.1)
background color : #d4ffed
header color : #75bfa0
main sections color : #c7f9e4
buttons color : #27712c
*/
body {
  background-color: #d4ffed;
}
#header {
  display: grid;
  grid-template-columns: [start] 100px auto 100px [end];
  margin-bottom: 20px;
  background-color: #75bfa0;
}
.logo {
  height: 50px;
  grid-column: start / 2;
}
.navbar {
  grid-column: 2 / 3;
  justify-self: start;
  height: 100%;
  display: table;
}
.navbar a {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  height: 100%;
  text-decoration: none;
}
.login-control {
  align-self: center;
  grid-column-start: 4 / end;
}
.sidebar {
  grid-column: start / 2;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #c7f9e4;
}
.sidebar li {
  padding: 10px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
