/*
list border color : rgba(0, 0, 0, 0.1)
background color : #d4ffed
header color : #75bfa0
main sections color : #c7f9e4
buttons color : #27712c
active : #08ca14;
disabled: #bababa;
*/
body {
  background-color: #d4ffed;
}
#header {
  display: grid;
  grid-template-columns: [start] 100px auto 100px [end];
  margin-bottom: 20px;
  background-color: #75bfa0;
}
.logo {
  height: 50px;
  grid-column: start / 2;
}
.navbar {
  grid-column: 2 / 3;
  justify-self: start;
  height: 100%;
  display: table;
}
.navbar a {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  text-decoration: none;
}
.login-control {
  align-self: center;
  grid-column-start: 4 / end;
}
#main {
  display: grid;
  max-width: 98%;
  margin: 0 auto;
  grid-template-columns: [start] 100px 20px auto [end];
}
.sidebar {
  grid-column: start / 2;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #c7f9e4;
}
.sidebar li {
  padding: 10px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.main-body {
  grid-column: 3 / 4;
  display: grid;
  grid-template-rows: [start-row] 10px 25px 10px auto 10px 20px 10px [end-row];
  padding: 0px 20px;
  background-color: #c7f9e4;
}
.create-form {
  grid-column: 3 / 4;
  background-color: #c7f9e4;
  padding: 10px 20px;
}
.create-form label {
  display: block;
}
.create-form textarea {
  width: 100%;
  resize: none;
}
.create-form label,
.create-form textarea,
.create-form select {
  min-width: 200px;
  border-width: 0;
  display: block;
  margin-bottom: 5px;
}
.create-form .control {
  margin-top: 10px;
}
.create-form .control button {
  margin-right: 5px;
}
.btn-add {
  grid-row: 2 / 3;
  justify-content: center;
  display: flex;

  height: 100%;
  width: 120px;
  background-color: #6cad70;
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 11px;
}
.list-data {
  grid-row: 4 / 5;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  /* border-width: 1px 1px 0px 1px; */
}
.list-data li {
  /* vertical alignment */
  align-items: center;

  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 7.5px 10px;
}
.list-data .editable {
  /* fill up remaining space with flex*/
  flex-grow: 1;
  resize: none;
}
.list-data .static {
  text-align: justify;
  flex-grow: 1;

  width: 1px;
  min-width: 200px;
}
.list-data .control {
  text-align: right;
}
.list-data .control button {
  margin-left: 5px;
}
.control {
  /* max-width: 200px; */
}
.control button {
  max-width: 90px;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
}
.control button.delete {
  background-color: #bd2626;
  color: white;
}
.control button.save {
  background-color: #6cad70;
  color: white;
}

.nav-pages {
  justify-self: start;
  align-self: center;
  display: flex;
  grid-row: 6 / 7;
  height: 100%;
}
.nav-pages li {
  /* align text vertically with flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /***********************************/
  margin-right: 5px;
  border-radius: 5px;
  padding: 0 11px;
  background-color: #6cad70;
  font-size: 12px;
  color: white;
  cursor: pointer;
}
.nav-pages li.active {
  background-color: #08ca14;
}
.nav-pages li.disabled {
  background-color: #bababa;
}
